

:root {
    --background-color:#FCFCFC;
    --primary-color:#0077FF;
    --secondary-color: #EBEBEB;
    --text-color: #333333;
    --play-button-color: #0077FF;

}

.song.row {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 1350px;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
}

.song.row {
    background: var(--secondary-color);
    color: var(--text-color);
    font-family: londrina-thin;
}

.song.row * {
    margin: 5px;
}
.song.row *:first-child {
    margin-left: 0;
}
.song.row *:last-child {
    margin-right: 0;
} 


.cover-img {
    object-fit:cover;
    width: 100%;
    max-height: 100%;
}

.song.row button {
	width:60px;
	height:60px;
    outline:none;
	padding-left: 10px;
	border: 6px solid var(--play-button-color);
	border-radius: 50%;
	color: var(--play-button-color);
	text-align:center;
	text-decoration:none;
    background-color: var(--secondary-color);
	font-size:13px;
    transition: all 0.3s ease;
}

.song.row button:hover {
	background-color: var(--secondary-color);
	box-shadow: 0px 0px 10px var(--primary-color);
	text-shadow: 0px 0px 10px var(--primary-color);
}

@font-face {
    font-family: 'londrina-thin';
    src: url(../font/LondrinaSolid-Light.ttf);
    font-style: normal;
}