:root {
    --primary-color:#0077FF;
}

body.dark-mode {
    --primary-color: #ffdd40;
  
}
.Header {
   display: flex;
   justify-content: center;
   color:  #333333;
   font-family: londrina-black;
}

.Header:hover{
    color: var(--primary-color);
}

@font-face {
    font-family: 'londrina-black';
    src: url(../font/LondrinaSolid-Black.ttf);
    font-style: normal;
}